In [1]:
import pandas as pd
import numpy as np

In [2]:
pollution_df = pd.read_csv(
    r"C:\Users\mothe\OneDrive\Documents\Batch-6\cleaned_pollution_week1.csv"
)

weather_df = pd.read_csv(
    r"C:\Users\mothe\OneDrive\Documents\Batch-6\cleaned_weather_week1.csv"
)

In [7]:
pollution_df.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good

In [8]:
weather_df.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,Temperature (C),Humidity (%),Wind Speed (m/s),Wind Direction (deg),Latitude,Longitude,Timestamp,Source_API
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,5.4,90.0,0.92,41.0,44.7444,44.2031,1.764709e+09,OpenWeatherMap
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,27.7,56.0,4.26,129.0,-5.2900,-44.4900,1.764709e+09,OpenWeatherMap
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,18.0,71.0,2.75,123.0,37.1572,15.1802,1.764709e+09,OpenWeatherMap
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,1.6,98.0,2.60,122.0,53.0191,20.8803,1.764709e+09,OpenWeatherMap
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good,25.2,85.0,1.06,49.0,-17.6333,-149.6000,1.764709e+09,OpenWeatherMap

In [9]:
print(pollution_df.columns.tolist())

['Country', 'City', 'AQI Value', 'AQI Category', 'CO AQI Value', 'CO AQI Category', 'Ozone AQI Value', 'Ozone AQI Category', 'NO2 AQI Value', 'NO2 AQI Category', 'PM2.5 AQI Value', 'PM2.5 AQI Category']

In [10]:
print(weather_df.columns.tolist())

['Country', 'City', 'AQI Value', 'AQI Category', 'CO AQI Value', 'CO AQI Category', 'Ozone AQI Value', 'Ozone AQI Category', 'NO2 AQI Value', 'NO2 AQI Category', 'PM2.5 AQI Value', 'PM2.5 AQI Category', 'Temperature (C)', 'Humidity (%)', 'Wind Speed (m/s)', 'Wind Direction (deg)', 'Latitude', 'Longitude', 'Timestamp', 'Source_API']

In [11]:
weather_df['Timestamp'] = pd.to_datetime(
    weather_df['Timestamp'],
    unit='s'
)

In [12]:
weather_df[['Timestamp']].head()

            Timestamp
0 2025-12-02 20:50:41
1 2025-12-02 20:50:41
2 2025-12-02 20:50:41
3 2025-12-02 20:50:41
4 2025-12-02 20:50:41

In [13]:
merged_df = pd.merge(
    weather_df,
    pollution_df,
    on=['Country', 'City'],
    how='left',
    suffixes=('_weather', '_pollution')
)

In [14]:
merged_df.shape

(21882, 30)

In [15]:
merged_df.head()

,Country,City,AQI Value_weather,AQI Category_weather,CO AQI Value_weather,CO AQI Category_weather,Ozone AQI Value_weather,Ozone AQI Category_weather,NO2 AQI Value_weather,NO2 AQI Category_weather,...,AQI Value_pollution,AQI Category_pollution,CO AQI Value_pollution,CO AQI Category_pollution,Ozone AQI Value_pollution,Ozone AQI Category_pollution,NO2 AQI Value_pollution,NO2 AQI Category_pollution,PM2.5 AQI Value_pollution,PM2.5 AQI Category_pollution
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,...,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,...,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,...,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,...,22,Good,0,Good,22,Good,0,Good,6,Good

In [17]:
cols_to_drop = [col for col in merged_df.columns if col.endswith('_pollution')]
cols_to_drop

['AQI Value_pollution',
 'AQI Category_pollution',
 'CO AQI Value_pollution',
 'CO AQI Category_pollution',
 'Ozone AQI Value_pollution',
 'Ozone AQI Category_pollution',
 'NO2 AQI Value_pollution',
 'NO2 AQI Category_pollution',
 'PM2.5 AQI Value_pollution',
 'PM2.5 AQI Category_pollution']

In [18]:
merged_df.drop(columns=cols_to_drop, inplace=True)

In [19]:
merged_df.columns = merged_df.columns.str.replace('_weather', '', regex=False)

In [20]:
merged_df.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,Temperature (C),Humidity (%),Wind Speed (m/s),Wind Direction (deg),Latitude,Longitude,Timestamp,Source_API
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,5.4,90.0,0.92,41.0,44.7444,44.2031,2025-12-02 20:50:41,OpenWeatherMap
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,27.7,56.0,4.26,129.0,-5.2900,-44.4900,2025-12-02 20:50:41,OpenWeatherMap
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,18.0,71.0,2.75,123.0,37.1572,15.1802,2025-12-02 20:50:41,OpenWeatherMap
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,1.6,98.0,2.60,122.0,53.0191,20.8803,2025-12-02 20:50:41,OpenWeatherMap
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good,25.2,85.0,1.06,49.0,-17.6333,-149.6000,2025-12-02 20:50:41,OpenWeatherMap

In [21]:
merged_df.columns

Index(['Country', 'City', 'AQI Value', 'AQI Category', 'CO AQI Value',
       'CO AQI Category', 'Ozone AQI Value', 'Ozone AQI Category',
       'NO2 AQI Value', 'NO2 AQI Category', 'PM2.5 AQI Value',
       'PM2.5 AQI Category', 'Temperature (C)', 'Humidity (%)',
       'Wind Speed (m/s)', 'Wind Direction (deg)', 'Latitude', 'Longitude',
       'Timestamp', 'Source_API'],
      dtype='object')

In [22]:
merged_df['pm_ratio'] = (
    merged_df['PM2.5 AQI Value'] /
    (merged_df['PM2.5 AQI Value'] + 1)
)

In [23]:
severity_map = {
    'Good': 0,
    'Moderate': 1,
    'Poor': 2,
    'Unhealthy': 3,
    'Severe': 4
}

merged_df['aqi_severity'] = merged_df['AQI Category'].map(severity_map)

In [24]:
merged_df['wind_effect'] = pd.cut(
    merged_df['Wind Speed (m/s)'],
    bins=[0, 2, 5, 100],
    labels=['Low', 'Medium', 'High']
)

In [25]:
merged_df['hour'] = merged_df['Timestamp'].dt.hour
merged_df['month'] = merged_df['Timestamp'].dt.month

In [26]:
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Summer'
    elif month in [6, 7, 8, 9]:
        return 'Monsoon'
    else:
        return 'Post-Monsoon'

merged_df['season'] = merged_df['month'].apply(get_season)

In [28]:
merged_df[['pm_ratio', 'aqi_severity', 'wind_effect', 'hour', 'season']].head()

   pm_ratio  aqi_severity wind_effect  hour  season
0  0.980769           1.0         Low    20  Winter
1  0.976190           0.0      Medium    20  Winter
2  0.985075           1.0      Medium    20  Winter
3  0.952381           0.0      Medium    20  Winter
4  0.857143           0.0         Low    20  Winter

In [29]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21882 entries, 0 to 21881
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               21882 non-null  object
 1   City                  21882 non-null  object
 2   AQI Value             21882 non-null  int64
 3   AQI Category          21882 non-null  object
 4   CO AQI Value          21882 non-null  int64
 5   CO AQI Category       21882 non-null  object
 6   Ozone AQI Value       21882 non-null  int64
 7   Ozone AQI Category    21882 non-null  object
 8   NO2 AQI Value         21882 non-null  int64
 9   NO2 AQI Category      21882 non-null  object
 10  PM2.5 AQI Value       21882 non-null  int64
 11  PM2.5 AQI Category    21882 non-null  object
 12  Temperature (C)       21882 non-null  float64
 13  Humidity (%)          21882 non-null  float64
 14  Wind Speed (m/s)      21882 non-null  float64
 15  Wind Direction (deg)  21882 non-null  float64
 16  Latitude              21882 non-null  float64
 17  Longitude             21882 non-null  float64
 18  Timestamp             21882 non-null  datetime64[ns]
 19  Source_API            21882 non-null  object
 20  pm_ratio              21882 non-null  float64
 21  aqi_severity          19960 non-null  float64
 22  wind_effect           21639 non-null  category
 23  hour                  21882 non-null  int32
 24  month                 21882 non-null  int32
 25  season                21882 non-null  object
dtypes: category(1), datetime64[ns](1), float64(8), int32(2), int64(5), object(9)
memory usage: 4.0+ MB

In [30]:
merged_df.isna().sum()

Country                    0
City                       0
AQI Value                  0
AQI Category               0
CO AQI Value               0
CO AQI Category            0
Ozone AQI Value            0
Ozone AQI Category         0
NO2 AQI Value              0
NO2 AQI Category           0
PM2.5 AQI Value            0
PM2.5 AQI Category         0
Temperature (C)            0
Humidity (%)               0
Wind Speed (m/s)           0
Wind Direction (deg)       0
Latitude                   0
Longitude                  0
Timestamp                  0
Source_API                 0
pm_ratio                   0
aqi_severity            1922
wind_effect              243
hour                       0
month                      0
season                     0
dtype: int64

In [31]:
merged_df.describe()

,AQI Value,CO AQI Value,Ozone AQI Value,NO2 AQI Value,PM2.5 AQI Value,Temperature (C),Humidity (%),Wind Speed (m/s),Wind Direction (deg),Latitude,Longitude,Timestamp,pm_ratio,aqi_severity,hour,month
count,21882.000000,21882.000000,21882.000000,21882.000000,21882.000000,21882.000000,21882.000000,21882.000000,21882.000000,21882.000000,21882.000000,21882,21882.000000,19960.000000,21882.000000,21882.0
mean,72.294534,1.377799,35.086235,3.112650,68.826753,13.136929,72.653322,2.487550,176.972032,28.124344,12.169295,2025-12-02 17:55:21.927109376,0.976797,0.747946,17.158395,12.0
min,6.000000,0.000000,0.000000,0.000000,0.000000,-37.840000,1.000000,0.000000,0.000000,-54.800000,-159.775000,2025-12-02 15:24:25,0.000000,0.000000,15.000000,12.0
25%,39.000000,1.000000,21.000000,0.000000,35.000000,4.950000,61.000000,1.230000,86.000000,14.523900,-46.347400,2025-12-02 15:40:56,0.972222,0.000000,15.000000,12.0
50%,55.000000,1.000000,30.000000,1.000000,54.000000,11.395000,79.000000,2.100000,180.000000,35.233350,12.787450,2025-12-02 15:44:12,0.981818,1.000000,15.000000,12.0
75%,80.000000,1.000000,40.000000,4.000000,79.000000,23.087500,88.000000,3.490000,267.000000,46.087075,72.864650,2025-12-02 20:51:41,0.987500,1.000000,20.000000,12.0
max,500.000000,133.000000,235.000000,91.000000,500.000000,39.500000,100.000000,22.800000,360.000000,69.649600,178.416700,2025-12-02 20:53:11,0.998004,3.000000,20.000000,12.0
std,56.718782,1.837905,28.237732,5.322278,55.395414,11.349976,20.435993,1.656738,105.671546,23.299904,69.169200,NaN,0.020916,0.908426,2.476608,0.0

In [32]:
merged_df.to_csv(
    r"C:\Users\mothe\OneDrive\Documents\Batch-6\enviroscan_week2_master_dataset.csv",
    index=False
)

In [1]:
import os
os.getcwd()

'C:\\Users\\mothe'